.essai input {
    width: 30px;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
}

#grid {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.goodPos {
    background-color: red;
    color: white;
}

.badPos {
    background-color: orange;
    color: black;
}

.nothing {
    background-color: white;
    color: black;
}